<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.meshpoint.anode"
      android:versionCode="1"
      android:versionName="1.0" android:installLocation="auto">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".AnodeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.meshpoint.anode.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:label="@string/anode_receiver" android:exported="true" android:description="@string/anode_receiver_description" android:name="org.meshpoint.anode.AnodeReceiver">
            <intent-filter>
                <action android:name="org.meshpoint.anode.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.meshpoint.anode.STOP" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.meshpoint.anode.STOPALL" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.meshpoint.anode.INSTALL" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.meshpoint.anode.UNINSTALL" />
            </intent-filter>
        </receiver>
        <service android:exported="true" android:enabled="true" android:name=".AnodeService" android:description="@string/anode_service_description" android:label="@string/anode_service">
            <!-- disabled until we work out how to get a valid context for a Service triggered by these
            <intent-filter>
                <action android:name="org.meshpoint.anode.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.meshpoint.anode.STOP" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.meshpoint.anode.STOPALL" />
            </intent-filter>
             -->
        </service>

    </application>
</manifest>